/*Le damos estilo al encabezado */
.header {
    color:#663399;
    padding: 10px;
    text-align: center;
    font-family: "Lucida Sans", sans-serif;
}
/*Le damos estilo a la etiqueta h1 */
h1{font-size: 300%;
   font-weight: bolder;
   margin-top: 1px;
   margin-bottom: 1px;
   padding-bottom: 1px;
}
/*Le damos estilo a la etiqueta h2 */
h2{font-size: 100%;
   font-weight: bolder;
   margin-top: 0px;
   padding-top: 0px;
}
/*Le damos estilo al body */
body{
  background-color: #483D8B;
  background-image:url('imagenes/fondop2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lucida Sans", sans-serif;
}
/*Nos aseguramos que el relleno y el borde se incluyan en el ancho y la altura totales de los elementos en todos los div de la pagina */
* {
    box-sizing: border-box;
}

/*Vamos a darle estilo al input */
input {
    display: block;
    font-size: 14px;
    margin: auto auto;
    padding: 8px 4px 8px 4px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
    border: 1px solid #666;
    opacity: 0.5;
    /******/
    border: solid black;
    width:70%;
    text-align:center;
    font-style: italic;
}

input:hover,
input:focus {
    opacity: .7;
    color:#000;
    font-weight: 600;
    border: 1px solid #08c;
    box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
    /*******/
    border: solid black;
    width:80%;
    text-align:center;
    font-style: italic;
}
/*Le damos estilo al select en donde el usuario escoge el código secreto*/
#secret-code{
    background-color:#483D8B;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 300px;
    font-size: 80%;
    font-weight: bolder;
    margin: 10px auto;
    color: #663399;
}
/*Le damos estilo a los botones ocultar mensaje y descubrir mensaje*/
button{
    background-color: #663399;
    padding: 10px;
    width: 80%;
    border: 2px #663399;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
}
/*Le damos estilo al botón volver a ingresar mensaje*/
#restart{
    background-color: #663399;
    padding: 10px;
    width: 60%;
    border: 2px #663399;
    font-family: sans-serif;
    color: white;
    font-weight: 300;
    border-radius: 5px;
}
/*Todas estas columnas deben estar flotando hacia la izquierda y tener un relleno de 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*Se coloca un estilo para que borre el flujo de las columnas dentro de la fila */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*Para los teléfonos celulares*/

[class*="col-"] {
    width: 100%;
  }

/*Para las tablets*/
@media only screen and (min-width: 600px) {
  #restart{
      width: 30%;
  }
  .header {
      padding: 50px;
      margin-top: 50px;
  }
  button{

      width: 90%;
  }
  body {
background-image:url('imagenes/fondop2.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: 100% 175%;
color: white;
text-align: center;
  }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/*Para el escritorio */
@media only screen and (min-width: 768px) {
  button{

      width: 100%;
  }
  h1{font-size: 300%;
     font-weight: bolder;
     margin-top: 1px;
     margin-bottom: 1px;
     padding-bottom: 1px;
  }
  /*Le damos estilo a la etiqueta h2 */
  h2{font-size: 150%;
     font-weight: bolder;
     margin-top: 0px;
     padding-top: 0px;
  }


  #restart{
      background-color: #663399;
      padding: 10px;
      width: 20%;
      border: 2px #663399;
      font-family: sans-serif;
      color: white;
      font-weight: 300;
      border-radius: 5px;
  }

  body {
background-image:url('imagenes/fondop2.jpeg');
background-position: center;
background-size: 100% 200%;
color: white;
text-align: center;

  }

  .header {
      padding: 50px;
      margin-top: 50px;
  }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
